<main>
  <h1>Canvas Board</h1>
  <canvas id="graphics-canvas" width="800" height="400" style="border:1px solid #ccc;"></canvas>
  <script src="/js/public/scripts/graphics/graphics.js"></script>
</main>