<main>
  <h1>Session: <%= session.title %></h1>
  <div id="editor" data-session-id="<%= session._id %>" data-user-id="<%= user._id %>"></div>
  <script src="/js/public/scripts/editor.js"></script>
</main>